{{page-title "Dummy"}}

<h2 id="title">ember-codemirror test</h2>

<div
  {{code-mirror
    content=this.content
    mode="python"
    readOnly=false
    onUpdate=this.onUpdate
  }}
>
</div>

{{outlet}}
